/* GENERAL */
p {
	text-align: justify;
}

h1{
	font-weight: 400;
	padding-bottom:30px;
}

.row {
	margin-right: 0px; 
}

/* SECCIONES */
.section {
	padding: 0px 0px 30px 0px;
}

#slide{
	margin-top: 20px;
}

#presentacion hr{
	margin-top: -3px;
	border-top: 2px solid #3a9ed0;
}

#encuentro hr{
	margin-top: -3px;
	border-top: 2px solid #ac5291;
}

#presentacion h1 {
	color: #000;
}

#anteproyecto hr{
	margin-top: -3px;
	border-top: 2px solid #de3527;
}
#banco hr{
	margin-top: -3px;
	border-top: 2px solid #de3527;
}
#mercado hr{
	margin-top: -3px;
	border-top: 2px solid #3a9ed0;
}

#anteproyecto h1 {
	color: #fff;
}

#objetivos hr{
	margin-top: -3px;
	border-top: 2px solid #0c8245;	
}

#calendario hr{
	margin-top: -3px;
	border-top: 2px solid #de3527;
}

#laboratorio hr{
	margin-top: -3px;
	border-top: 2px solid #0c8245;
}
#laboratorio h1 {
	color: #fff;
}

#recursos hr{
	margin-top: -3px;
	border-top: 2px solid #ac5291;
}

#sesiones hr{
	margin-top: -3px;
	border-top: 2px solid #ac5291;
}

#programa hr{
	margin-top: -3px;
	border-top: 2px solid #ac5291;
}
#programa li{
	list-style: none;
}
#metodologia hr{
	margin-top: -3px;
	border-top: 2px solid #3a9ed0;
}

#sesiones .nav a{
	font-family: "Segoe UI","Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333333;
}

#wrapper {
    padding: 10px 0px;
}

/* MAPA */
#map {
    height: 600px;
    width: 100%;
}

/* HEADER */
#secondary-menu{
	margin-top: 10px;
}

#secondary-menu #boletin{
	text-align: right;
	padding-right: 35px !important;
}

#secondary-menu a{
	font-size: 0.8em;
	color: #000;
}

#secondary-menu a:hover{
	text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #3a9ed0;
}

.main-logo{
	padding: 0px;
}
.nav > li > a {
    padding: 20px 10px !important;
	color: #000 !important;
	font-size: 20px;
}

.navbar-nav > li {
	width: 16%;
}

.navbar-nav #anteproyecto-main {
	width: 16% !important;
}
.navbar-nav #proyecto-main {
	width: 13% !important;
}
.navbar-nav #herramientas-main {
	width: 18% !important;
}
.navbar hr{
	width:95%;
	margin-top: 0px;
	margin-bottom: 0px; 
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: #000 !important;
	background-color: #fff !important;	
}
#proyecto-main > a:hover, #proyecto-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 68% !important;
	border-bottom: 2px solid #3a9ed0 !important;
}

#encuentro-main > a:hover, #anteproyecto-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 55% !important;
	border-bottom: 2px solid #de3527 !important;
}

#gruposmotores-main > a:hover, #gruposmotores-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 55% !important;
	border-bottom: 2px solid #ac5291 !important;
}

#laboratorio-main > a:hover, #laboratorio-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 55% !important;
	border-bottom: 2px solid #0c8245 !important;
}

#herramientas-main > a:hover, #herramientas-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 64% !important;
	border-bottom: 2px solid #3a9ed0 !important;
}

#sesiones-main > a:hover, #sesiones-main > a:focus {
	color: #000 !important;
	background-color: #fff !important;
	padding-bottom: 55% !important;
	border-bottom: 2px solid #de3527 !important;
}

.navbar-fixed-top {
    position: inherit;
}

#navbar-main{
	padding-top: 15px;
	margin-left: 10px;
}
.navbar{
	background-color: #fff !important;
	border-color: #fff;
	height: 210px;
}

.navbar-header img{
	width: 200%;
	margin-top: 20px;
	margin-left: -35px;
}
#secondary-menu .social-icons a {
	font-size: 16px;
	color: #7f7f7f;	
	padding: 0px 10px 0px 0px;
}
#secondary-menu .social-icons a:hover {
	color: #000;	
}
/* FOOTER */

.footer {
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	color: #000;
	margin-top: 30px;
}
.footer p {
	text-align: center;
	color: #7f7f7f;
	font-size: 14px;
	margin-top: 10px;
}
.footer li{
	list-style: none;
}

.footer a{
	color: #000 !important;
}

.logo img {
	width: 85%;
}
.footer a:hover{
	text-decoration: none;
}

.footer #links {
	padding: 25px 0px 0px 0px;
}

.footer #links .social-icons a{
	color: #7f7f7f !important;
	font-size: 14px;
}


.footer #links .social-icons i{
	font-size: 16px;
	margin-right: 10px;
}

.footer #links .social-icons a:hover{
	color: #000 !important;
}
.footer-title {
	color: #7f7f7f;
	font-size: 14px;
}

/* CALENDAR */

#calendar {
	margin: 0 auto;
}

#calendar .fc-day-grid-event .fc-content {
	white-space: normal;
}
.fc-button-group, .fc button {
	display: block !important;
}

.fc-toolbar h2 {
	font-size: 25px;
	text-transform: capitalize;
}
.fc-event {
	background-color: transparent !important;
	color: black !important;
}

/* MOVIL */
.navbar-toggle {
	background-color: #000;
	margin-top: 45px;
}


@media (max-width: 767px) {
	.navbar-header img {
		width: 80%;
		margin-left: -5px;
	}

	#navbar-main {
		background: #F6F6F6;
	}

	#navbar-main {
		padding-top: 0px;
		margin-left: 0px;
	}
	#secondary-menu {
		display: none;
	}
	.logo img {
		width: 35%;
		padding: 10px 0px 10px 0px;
		margin: 0px 30px;
	}
	.navbar-nav > li {
		width: 100%;
		text-align: center;
	}
	.navbar-nav #anteproyecto-main {
		width: 100% !important;
	}
	#main-menu {
		z-index: 999;
		width: 120% !important;
		margin-left: -5%;
	}		
	.navbar-nav .open .dropdown-menu {
		background-color: #3a9ed0;
	}
	.navbar-default .navbar-nav > .open > a {
		color: #ffffff !important;
	}
	img {
		max-width: 80%;
		margin-left: 10%;
	}
}

/* ACCORDION */

.panel-group .panel-heading {
	background: #f5f5f5;
	color: #333333;
}

.panel-group .panel-heading {
	background: #f5f5f5;
	color: #333333;
	border-bottom: 1px solid #ddddddaliceblue;
}


/* SLIDE */



/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-caption {
  background-color: rgba(0,0,0,.65);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-caption h3 {
	font-size: 21px;
	font-weight: 500;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

#myCarousel .carousel-inner  {
    
    max-height: 500px !important; 
}

.carousel-inner .item img {
	max-height: 500px;
}

@media screen and (min-width: 992px) {

  #slide .container {
 /*   max-width: 930px; */
 padding: 0px; 
  }


.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	color: black !important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	color: black !important;
}

a.disabled {
	cursor: not-allowed !important;
}

.modal.in .modal-dialog {
	width:80%;
}

.modal-video{
	margin: 5% 0 0 8%;
}

.modal-resumen{
	margin-top: 30px;
}

#modal-acta-button{
	margin: 20px 0px 20px 0px;
}

#modal-proyecto-button{
	margin: 20px 0px 20px 0px;
}

#logo-seccion img {
	width: 210px;
	height: 210px;
	padding: 15px 15px 0px 15px;
	border-radius: 50%;
	-ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;

    /* scale bg image proportionately */
    background-size: cover;
    
    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
    -ms-behavior: url(https://cdn.css-tricks.com/backgroundsize.min.htc);
  
}

#logo-seccion {
	padding-top: 20px;
}

#logo-seccion h4 {
	margin-left:-30px;
}

.modal-video-ins{
	padding: 5% 0 0 0px;
}

#sesion1, #sesion2, #sesion3 li {
	list-style: none;
}

#banco li {
	list-style: none;
}

#image-logo {
	max-width: 120px;
	max-height: 120px;
	margin-bottom:20px;
	width: 100px;
}

#logo-seccion a {
	cursor: pointer;
}

#modal-logo-info {
	margin: 30px 0px 0px 30px;
}

.modal-lugar {
	margin: 0px 0px 10px 0px;
}

#carousel-modal img {
	max-height: 300px;
}

.destacada {
	margin-bottom: 20px;
}

.destacada .btn{
	color:white;
}

.destacada h2 {
	margin-left:10px;
	padding: 10px;
	border: 2px solid #ddd;
}

.destacada i {
	padding-right: 20px;
}

.destacada h2:hover{

	border: 2px solid #ac5291;

}

.destacada a {
	color: #333;
	text-decoration: none;
}

#mercado li {
	    list-style-type: none;
}


#mercado #logo-seccion img { 
padding: 0px;
}







#encuentro .right {
    float: right;
    margin: 0em 3em 0em 3em;
}
#encuentro p {
    margin: 0em 0em 0.7em 2em;
    overflow: hidden; /* this is what keep the <p> from wrapping */
}
#encuentro p:last-child {
    overflow: visible; /* this is an example of the browser default */
}